div,
section {
	border-style: dashed;
	border-width: 1px;
	border-color: grey;
}

body {
	font-family: 'Lobster', cursive;
}

section,
#wrapper {
	width: 50rem;
}

section {
	margin-top: 2rem;
}

#wrapper {
	height: 100%;
	margin: 2rem auto;
}

/* quiz main */

#qc {
	height: 20rem;
	position: relative;
}

#qc div {
	position: absolute;
}

#options,
#examples {
	width: 23rem;
}

#options {
	height: 10rem;
}

#examples {
	height: 20rem;
	right: 0;
}

#prog,
#prog .content,
#submit {
	height: 7rem;
}

#prog,
#submit {
	bottom: 0;
}

#prog {
	width: 12rem;
}

#submit {
/*	width: 7rem; */
	left: 16rem;
}

/* minigame */


#minigame {
	height: 6rem;
	position: relative;
	margin-bottom: 2rem;
}

#minigame div {
	position: absolute;
	width: 334px;
	height: 95px;
}

#opponent {
	right: 0;
}

/* content */

h1 {
	font-size: 3rem;
	padding: 0.5rem;
	text-align: center;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

#questions p{
	padding: 0.5rem 0;
	letter-spacing: 0.05rem;
}

#prog .content {
	padding: 0 2rem;
	text-align: center;
}

#prog .content h2 {
	padding: 0.25rem;
}

/* images */

#submit img {
	height: 7rem;
	cursor: pointer;
	cursor: hand;
}

.card {
	width: 4rem;
}


