body {
	font-family: 'Lobster', cursive;
	color: #fbffe6;
	background-image: url('../img/table.jpg');
	background-position: center;
	background-size: cover;
}

p,
label {
	font-family: 'Open Sans', sans-serif;
}

section,
#wrapper,
#minigame {
	width: 50rem;
}

section {
	margin-top: 2rem;
}

#wrapper {
	height: 100%;
	margin: 1rem auto;
	background-color: #016927;
	border-style: solid;
	border-width: 5px;
	border-radius: 10px;
	border-color: black;
}

#questions {
	width: 46rem;
	height: 5rem;
	margin-left: 2rem;
}

/* quiz main */

#quizContainer {
	height: 20rem;
	position: relative;
}

#quizContainer > div {
	position: absolute;
}

#options,
#examples {
	width: 23rem;
}

#options {
	height: 10rem;
}

#examples,
.exampleImage {
	width: 20rem;
	right: 2rem;
}

.exampleImage {
	border-style: solid;
	border-color: #fbffe6;
	border-width: 1px;
	border-radius: 10px;
}

#progress,
#submit {
	height: 7rem;
}

#progress,
#submit {
	bottom: 2rem;
}

#progress {
	width: 12rem;
}

#submit {
/*	width: 7rem; */
	left: 15rem;
}

#submit img {
	height: 7rem;
	cursor: pointer;
	cursor: hand;
}

/* minigame */

#minigame {
	height: 6rem;
	position: relative;
	margin-bottom: 2rem;
}

#minigame > div {
	position: absolute;
	width: 20rem;
	height: 5.5rem;
}

#myCard {
	left: 2rem;
}

#oppCard {
	right: 2rem;
}

/* content */

h1 {
	font-size: 3rem;
	padding: 0.5rem;
	text-align: center;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem; 
}

#instruction {
	text-align: center;
}

#questions p{
	padding: 0.5rem 0;
	letter-spacing: 0.05rem;
}

#options > div {
	padding: 0.6rem;
	margin-left: 2rem;
}

#options label {
	padding-left: 1rem;
	line-height: 0;
}

#progress .content {
	margin: 1rem;
	text-align: center;
}

#progress .content h2 {
	padding-bottom: 1rem;
}

.card {
	width: 4rem;
}