div {
	border-style: dashed;
	border-width: 1px;
	border-color: grey;
	position: absolute;
	font-family: 'Lobster', cursive;
}

/* div layout */

#wrapper,
#title,
#questions {
	width: 50rem;
}

#wrapper {
	height: 40rem;
	margin: 4rem auto;
	position: relative;
}

#title {
	height: 4rem;
}

#questions {
	height: 4rem;
	top: 6rem;
}

#options,
#examples {
	top: 12rem;
}

#options {
	height: 11rem;
	width: 23rem;
}

#examples {
	height: 19rem;
	width: 23rem;
	right: 0;
}

#prog,
#submit,
#counter,
#opponent {
	height: 6rem;
}

#prog,
#submit {
	top: 25rem;
}

#prog {
	width: 12rem;
}

#submit {
	width: 6rem;
	left: 17rem;
}

#counter,
#opponent {
	width: 21rem;
	top: 33rem;
}

#opponent,
#hand {
	right: 0;
}

/* content */

h1 {
	font-size: 3rem;
	padding: 0.5rem;
	text-align: center;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

#prog .content {
	padding: 1rem;
	position: relative;
	text-align: center;
}

#prog .content h2 {
	padding: 0.25rem;
}

/* images */

#submit img {
	height: 6rem;
	cursor: pointer;
	cursor: hand;
}

.card {
	width: 4rem;
}


